html {
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #5a5a5a;
  height: 100%;
}


/* NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
  /*margin-bottom: -90px;  Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}
.navbar-wrapper .navbar {
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  padding: 0 0 0 45px;
  border: 0;
  background: black; /*#989898;*/
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
  padding: 26px 30px 22px; /* Increase vertical padding to match navbar links */
  font-size: 44px;
  color: white;
  /*text-shadow: 0 -1px 0 rgba(0,0,0,.5);*/
}

.navbar .nav > li {
	padding: 11px 25px 11px 25px;
}

.navbar .nav > li > a {
  padding: 15px 20px;
  font-size: 24pt;
  color: black;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 10px;
}

/* SPECIFIC LIS */
#navhome {
	background-color: #96E266;
}

#navprojects {
	background-color: #50BBF3;
}

#navadv {
	background-color: #F35556;
}

#navme {
	background-color: #F9F162;
}

/* FRAMES
-------------------------------------------------- */

.frame {
  min-width: 100%;
	min-height: 110%;
	overflow: hidden;
	top: 0;
  left: 0;
  background-position: top center fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.frame .container {
	position: relative;
  z-index: 9;
  height: 100%;
}

.frame-caption {
	background-color: transparent;
  position: static;
  max-width: 550px;
  background-color: rgba(0,0,0,0.85);
  border-radius: 4px;
  padding: 0 20px;
  margin-top: 200px;
  margin-left: 50px;
}

.frame-caption-sub {
	position: absolute;
	padding: 0 20px;
  margin-top: 50%;
  right: 2%;
}

.frame-caption h1,
.frame-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  padding-bottom: 5px;
  padding-top: 5px;
}

.frame-caption h1,
.frame-caption h1 a {
  font-size: 36px;
  color: #fff;
}

.frame-caption .lead {
  font-size: 22px;
  /*padding-bottom: 5px;*/
}

.frame-caption .btn {
  margin-top: 10px;
}

.frame-caption-sub .lead {
	font-size: 14pt;
}

.fixed {
	position: fixed;
}

/* SPECIFIC FRAMES */

#home-frame {
	background-image: url('../img/canada-lake-2.jpg');
}

#photo-frame {
	background-image: url('../img/canada-glacier-2.jpg');
}

.divider {
	height: 50px;
	min-width: 100%;
	background: black;
}